/*      all     */
* {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    font-family: 'Jockey One', sans-serif;
    box-sizing: border-box;
    list-style: none;
}
/*      all     */



/*      header      */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: 100%;
    flex-flow: wrap;
    background-color: #D9D9D9;
}
.nav-bar {
    display: flex;
}
.nav-bar-list1-item {
    display: inline-block;
    margin: 0 40px;
    color: black;
    font-size: large;
}
.nav-bar-list2-item {
    padding: 20px;
    display: inline-block;
    margin: 0 20px;
    color: white;
    font-size: large;
    margin-right: 25px;
    background-color:#4A91D2 ;
    border:1px solid #4A91D2;
    border-radius: 25px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}
#reuse-nome {
    margin-left: 25px;
    font-size: 30px;
}
#user-icon {
    margin-top: 20px;  
}
/*      header     */


/*      main/sec-1     */
main {
    background-color: #4A91D2;
}
.sec1 {
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap;
}
.sec1-div {
    display: inline-block;
    padding: 50px;
    width: 700px;
    margin-left: 50px; 
}
.sec1-div h2 {
    font-size: 42px;
    text-align: left;
}
.sec1-div p {
    margin-top: 45px;
    font-size: 20px;
    color: white;
    text-align:justify;
}
#poluicao-img {
    border: 1px solid #000000;
}
/*      main/sec-1     */


/*      main/sec-2     */
.sec2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap;
}
#sala-computador-img {
    margin-left: 150px;
}
.sec2-div {
    display: inline-block;
    padding: 50px;
    width: 700px;
    margin-left: 150px;
}
.sec2-div h2 {
    font-size: 42px;
}
.sec2-div p {
    margin-top: 45px;
    font-size: 20px;
    color: white;
}
.objetivos-app {
    margin-top: 20px;
    font-size: 20px;
    color: white;
    list-style: circle;
}
.topicos-objs {
    margin-left: 30px;
    list-style: circle;
}
/*      main/sec-2     */



/*      main/sec-3     */
.sec3 {
    padding: 50px;
}
#app {
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding-top: 20px;
    margin-left: 800px;
    margin-right: 700px;
    height: 80px;
    width: 350px;
    background-color:#D9D9D9 ;
    border:1px solid #D9D9D9;
    border-radius: 25px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}
.links {
    color: #000000;
}
/*      main/sec-3     */



/*      main/sec-4     */
.sec4 {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    flex-flow: wrap;
    background-image: url(../images_only/fundo.png);
}
.tela{
    margin-top: 30px;
    padding: 5px;
    margin-bottom: 30px;
    font-size: 25px;
    text-align: center;
    background-color:#4A91D2 ;
    border:1px solid #4A91D2;
    border-radius: 20px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}
/*      main/sec-4     */



/*      main/sec-5     */
.sec5-div {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    height: 400px;
    background-image: url(../images_only/fundo.png);
}
.sec5-div-item {
    padding-top: 100px;
    text-align: center;
    font-size: 22px;
    margin-bottom: 80px;
    margin-right: 40px;
    margin-left: 57px;
    color: white;
    background-color:#4A91D2 ;
    border:2px solid #4A91D2;
    border-radius: 20px;
}
/*      main/sec-5     */



/*      footer    */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D9D9D9;
    flex-flow: wrap;
}
.sec-list-f {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}
.item-f {
    display: inline-block;
    margin: 0 20px;
    font-size: medium;
    font-weight: 550;
}
/*      footer     */