/*      all      */
* {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Jockey One', sans-serif;
    box-sizing: border-box;
}
/*      all      */



/*      header      */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: 100%;
    flex-flow: wrap;
    background-color: #D9D9D9;
}
.nav-bar {
    display: flex;
}
.nav-bar-list1-item {
    display: inline-block;
    margin: 0 40px;
    color: black;
    font-size: large;
}
.nav-bar-list2-item {
    padding: 20px;
    display: inline-block;
    margin: 0 20px;
    color: white;
    font-size: large;
    margin-right: 25px;
    background-color:#4A91D2 ;
    border:1px solid #4A91D2;
    border-radius: 25px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}
#reuse-nome {
    margin-left: 25px;
}
#user-icon {
    margin-top: 20px; 
}
/*      header      */



/*      main     */
main {
    background-image: url(../images_only/fundo.png);
}
article {
    background-color: #4A91D2;
    border:1px solid #4A91D2;
    margin-right: 50px;
    margin-left: 50px;
}
.titles {
    font-size: 45px;
    margin-top: 80px;
    text-align: center;
}
/*      main     */



/*      main/sec-1     */
#quem-somos {
    display: flex;
    font-size: 50px;
    padding: 70px;
}
#filosofo {
    margin-top: 20px;
    margin-bottom: 70px;
    margin-left: 20px;
    font-size: 20px;
}
.quem-somos-p {
    display: flex;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-right: 80px;
    font-size: 20px;
    text-align: justify;
    color: white;
}
/*      main/sec-1      */



/*      main/sec-2     */
.list-CEO {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.list-CEO-item {
    margin-top: 50px;
    display: inline-block;
    margin-left: 80px;
    margin-right: 80px;
}
.list-CEO-item p {
    font-size: 20px;
    text-align: justify;
    color: white;
    margin-top: 20px;
}
/*      main/sec-2      */



/*      footer    */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D9D9D9;
    flex-flow: wrap;
}
.sec-list-f {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}
.item-f {
    display: inline-block;
    margin: 0 20px;
    font-size: medium;
    font-weight: 550;
}
/*      footer    */